QPushButton{
    background-color: #0078d4;
    padding: 5px;
    border-radius:3px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

QPushButton:hover{
    background-color: #106ebe;

    
}

QPushButton:pressed{
    background-color: #005a9e;

}

QLineEdit{
    border-radius:3px;
}

QTextEdit{
    border: 3px solid white;
    border-radius:3px;
}
